/* zera toda margen(margin) e  preenchimento(padding) da pagina*/

*{
    margin: 0;
    padding: 0;
    background-color: #684949;
}

/*--------------CABEÇALHO--------------*/

header{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #684949;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: center;
}

.lista .menu a{
    margin-right: 80px;
    text-decoration: none;
    list-style-type: none;
    color: #f2d2bf;
}

.lista .menu a:hover{
    color: aqua;
}

/*--------------APRESENTAÇÃO--------------------*/

.nome_profissao{
    display: flex;
    height: 5cm;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20%;
}

.apresentacao{
    display: flex;
    max-width: 40%;
    text-align: match-parent;
}

.btn_download{
    border-radius: 5%;
    height: 30%;
    width: 10%;
    border: 2px solid #f2d2bf;
    margin-top: 20px;
}

.btn_download a{
    text-decoration: none;
    list-style-type: none;
    color: #f2d2bf;
    border: 1px solid #f2d2bf;
}

.btn_download a:hover{
    color: #684949;
    background-color: #f2d2bf;
}

.btn_download:hover{
    background-color: #f2d2bf;
}

/*-----------------FONTES----------------------*/

.fonte1{
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2d2bf;
}

.fonte2{
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2d2bf;
}

.fonte3{
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2d2bf;
}

/*-------------SOBRE/ABOUT---------------------------*/

.about{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 400px;
    text-align: justify;
    padding-top: 18%;

}

.texto{
    line-height: 1cm;
}

.texto a{
    text-decoration: none;
    list-style-type: none;
    color: #f2d2bf;
}

.texto a:hover{
    color: aqua;
}

.foto{
    border-radius: 50px;
    max-height: 250px;
    max-width: 250px;
    border: 2px solid #f2d2bf;
    margin-right: 30px;
}

/*---------------------------------------------*/




/*-------------------CONTATOS--------------------*/

.contatos{
    display: flex;
    flex-direction: column;
    margin-top: 95px;
    align-items: center;
    margin-top: 55%;
    margin-bottom: 22%;
    
}

.contact{
    margin-top: 2%;
}

.contatos .contact a{
    text-decoration: none;
    list-style-type: none;
    color: #f2d2bf;
}

.contatos .contact a:hover{
    color: aqua;
}

/*-----------------RODAPE INFERIOR------------------------*/
.footer{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    letter-spacing: 2px;
    justify-content: space-around;
    padding-bottom: 2%;
    padding-top: 2%;
}

/* ------------------mobile------------------------------- */

@media(max-width: 992px){
    
   
    .lista{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        background-color: #684949;
    }

    .lista .menu{
        align-self: center;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;

    }


    .nome_profissao{
        height: 60px;
        padding-left: 20px;
        padding-top: 160px;
    }

    .btn_download{
        height: 80%;
        width: 30%;
    }

    .about{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 450px;
        padding-top: 36%;
    }

    .foto{
        margin-bottom: 50px;
    }

    .apresentacao{
        display: flex;
        max-width: 70%;
        text-align: match-parent;
    }

    .fonte2{
        font-size: 30pt;
    }

    .fonte3{
        font-size: 15pt;
    }

    .contatos{
        margin-top: 100%;
        margin-bottom: 40%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13pt;
    }

}